<template>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <p v-if="currentUser.image">
            <img class="card-img-top" :src="'/uploads/user/profile/'+currentUser.image" alt="Card image" style="width:100%" height="200px">
          </p>
          <p v-else>
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
          </p>
          <div class="card-body">
            <h4 class="card-title">{{ currentUser.name}}</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <!-- <a href="#" class="btn btn-primary stretched-link"></a> -->
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card mb-2">
          <div class="card-header">
            Profile
          </div>
          <div class="card-body">
            <div v-if="message != ''" class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Success!</strong> {{message}}
            </div>
            <form id="formValidation" @submit="formSubmit">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" v-model="form.name" class="form-control" placeholder="Enter Name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="number" v-model="form.phone" class="form-control" placeholder="Enter Phone">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>DOB</label>
                    <input type="date" v-model="form.dob" class="form-control" placeholder="Enter DOB">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Profile</label>
                    <input type="file" v-on:change="onImageChange" placeholder="Upload Image" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" v-model="form.facebook_url" class="form-control" placeholder="Enter Facebook">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="invisible">filter</label><br>
                    <button type="submit" class="btn btn-danger">Update</button>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="errors" v-if="errors">
                      <ul>
                          <li v-for="(fieldsError, fieldName) in errors" :key="fieldName" class="text-danger">
                              <strong >{{ fieldName }}</strong> {{ fieldsError.join('\n') }}
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Password Reset</div>
          <div class="card-body">
            <form @submit.prevent="passwordReset">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Current Password</label>
                    <input type="text" v-model="current_password" class="form-control" placeholder="Enter Current Password">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" v-model="password" class="form-control" placeholder="Enter New Password">
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" v-model="form.name" class="form-control" placeholder="Enter Password">
                  </div>
                </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="invisible">filter</label><br>
                    <button type="submit" class="btn btn-danger">Change Password</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
// import moment from 'moment';
export default {
  name: 'dashboard',
  data(){
    return {
      form :{
        name : '',
        phone : '',
        dob : '',
        image: '',
        facebook_url : '',
      },
      current_password : '',
      password : '',
      message : '',
      errors : null
    };
  },
  methods :{

  

  },
  computed:{
    currentUser(){
      return this.$store.getters.currentUser
    }
  }
}
</script>

<style lang="css" scoped>
.invisible {
  visibility: hidden;
}
</style>
