<template>
  <div >
    <Header /><br>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from './layouts/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>
