<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <router-link class="navbar-brand" to="/">My App</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li> <router-link to="/about" class="nav-link">About</router-link> </li>
                <li> <router-link to="/contact" class="nav-link">Contact </router-link> </li>
                <!-- <li> <router-link to="/demo" class="nav-link">Demo</router-link> </li> -->
              </ul>
              <ul class="navbar-nav ml-auto">
                <template v-if="!currentUser">
                  <li>
                      <router-link to="/login" class="nav-link">Login</router-link>
                  </li>
                </template>
                <template v-else>
                  <!-- <li>
                    <router-link to="/customers" class="nav-link">Customers</router-link>
                  </li> -->

                  <li class="nav-item dropdown">
                      <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                          {{ currentUser.name }} <span class="caret"></span>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <router-link to="/dashboard" class="dropdown-item">Dashboard</router-link>
                        <a href="#!" @click.prevent="logout" class="dropdown-item">Logout</a>
                      </div>
                  </li>
                </template>
              </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name : 'app-header',
    methods : {
      logout(){
        this.$store.commit('logout');
        this.$router.push('/login');
      }
    },
    computed:{
      currentUser(){
        return this.$store.getters.currentUser
      }
    }
}
</script>
