<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form @submit.prevent="authenticate">
              <div class="form-group">
                <label>Email</label>
                <input type="text" v-model="form.email" class="form-control" placeholder="Enter Email">
                <div v-if="authError">
                    <strong class="text-danger">{{ authError.email }}</strong>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" v-model="form.password" class="form-control" placeholder="Enter Password">
                <div v-if="authError">
                    <strong class="text-danger">{{ authError.password }}</strong>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-danger mr-1" value="Login">
                <span>Don't have an account?</span>
                <router-link to="/register" class="btn btn-link">Register</router-link>
              </div>
              
              <div class="form-group" v-if="authError">
                <p class="text-danger">
                  {{ authError['error_name'] }}
                </p>
              </div>
            </form>
            <div class="form-group">
              <GoogleLogin :params="params" :onSuccess="onSuccess" :onFailure="onFailure" class="btn btn-danger">Sign In With Google</GoogleLogin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {login} from '../helpers/auth';
import GoogleLogin from 'vue-google-login';
export default {
  name:'login',
  data(){
    return {
      params: {
          // client_id: "1058954199519-t78jjjcntnelnntfdv25hkmcb2c2ps84.apps.googleusercontent.com"
          client_id: "707231563844-e5cpkqrlt62gncmj6b84of5sml9lp8g9.apps.googleusercontent.com"
      },
      renderParams: {
          width: 250,
          height: 50,
          longtitle: true
      },
      form:{
        email: '',
        password: '',

      },
      error: null
    };
  },
  components: {
      GoogleLogin
  },
  methods:{
    authenticate(){
      this.$store.dispatch('login');
      login(this.$data.form).then((res) => {
        this.$store.commit('loginSuccess',res);
        this.$router.push('/dashboard');
      }).catch((error) =>{
        this.$store.commit('loginFailed',{error});
      })
    },
    onSuccess(googleUser) {
        // console.log(googleUser);
        // console.log(googleUser.getBasicProfile());
        if (googleUser.getBasicProfile()) {
          var google_data = googleUser.getBasicProfile();
          this.$store.dispatch('login');
          login({'google_id': google_data.RR,'email': google_data.At,'name': google_data.Te}).then((res) => {
            this.$store.commit('loginSuccess',res);
            this.$router.push('/dashboard');
          }).catch((error) =>{
            this.$store.commit('loginFailed',{error});
          })
        }
    },
    onFailure(googleUser) {
        console.log(googleUser);
        console.log(googleUser.getBasicProfile());
    }
  },
  computed:{
    authError(){
      return this.$store.getters.authError;
    }
  }
}
</script>

<style lang="css" scoped>
</style>
