<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            Register
          </div>
          <div class="card-body">
            <form @submit.prevent="authenticate">
              <div class="form-group">
                <label>Name</label>
                <input type="text" v-model="form.name" class="form-control" placeholder="Enter Name">
                <div v-if="authError">
                    <strong class="text-danger">{{ authError.name }}</strong>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" v-model="form.email" class="form-control" placeholder="Enter Email">
                <div v-if="authError">
                    <strong class="text-danger">{{ authError.email }}</strong>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" v-model="form.password" class="form-control" placeholder="Enter Password">
                <div v-if="authError">
                    <strong class="text-danger">{{ authError.password }}</strong>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" v-model="form.password_confirmation" class="form-control" placeholder="Enter Confirm Password">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-danger mr-1" value="Register">
                <span>Have an account?</span>
                <router-link to="/login" class="btn btn-link">Login</router-link>
              </div>
              <!-- <div class="form-group" v-if="authError">
                <p class="text-danger">
                  {{ authError }}
                </p>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {register} from '../helpers/auth';
export default {
  name:'register',
  data(){
    return{
      form:{
        name:'',
        email:'',
        password:'',
        password_confirmation:''
      },
      error: {}
    };
  },
  methods:{
    authenticate(){
      this.$store.dispatch('register');
      register(this.$data.form).then((resolve) =>{
        this.$store.commit('registerSuccess',resolve);
        this.$router.push('/dashboard');
      }).catch((error) =>{
        this.$store.commit('registerFailed',{error});
      });
    }
  },
  computed:{
    authError(){
      return this.$store.getters.authError;
    }
  }
}
</script>

<style lang="css" scoped>
</style>
